@page
@model CFLookup.Pages.MinecraftModStatsOverTimeModel
@{
    ViewData["Title"] = "Minecraft mod stats over time";
}
@section Head {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { packages: ['linechart'] });
        google.charts.setOnLoadCallback(drawAllCharts);

        function drawAllCharts() {
            @foreach(var stat in Model.Stats)
            {
                <text>drawMinecraft</text>@stat.Key<text>Chart();</text>
            }
        }
        @foreach(var stat in Model.Stats)
        {
            <text>
            function drawMinecraft</text>@stat.Key<text>Chart() {
                var data = new google.visualization.DataTable();

                data.addColumn('datetime', 'Time');
                @foreach(var gameVersion in stat.Value.FirstOrDefault().Value.Keys)
                {
                    <text>data.addColumn('number', '@gameVersion');</text>
                }

                const jsonData = @Html.Raw(Json.Serialize(stat.Value));

                for(var stat in jsonData)
                {
                    let rowData = jsonData[stat];
                    
                    let row = [];

                    row.push(new Date(stat));

                    for(var gameVersion in rowData)
                    {
                        row.push(rowData[gameVersion]);
                    }
                    console.log(row);
                    data.addRow(row);
                }
            
                var options = {
                    title: 'Number of Minecraft mods per game version, @stat.Key',
                    height: '700',
                    width: '100%',
                    isStacked: true,
                    legend: {
                        position: 'bottom',
                        textStyle: { color: '#6c757d' }
                    },
                    vAxis: {
                        title: 'Minecraft game version',
                        titleTextStyle: { color: '#6c757d' },
                        textStyle: { color: '#6c757d' },
                        gridlines: { color: '#787878' }
                    },
                    backgroundColor: { fill: 'transparent' },
                    titleTextStyle: {
                        color: '#fff'
                    },
                    hAxis: {
                        textStyle: { color: '#6c757d' },
                        titleTextStyle: { color: '#6c757d' },
                        gridlines: { color: '#787878' },
                        title: 'Time'
                    }
                };

                var chart = new google.visualization.LineChart(document.getElementById('minecraft-version-modloader-@stat.Key'));

                chart.draw(data, options);
            }
            </text>
        }
    </script>
}
@foreach(var stat in Model.Stats)
{
    <div id="minecraft-version-modloader-@stat.Key"></div>
}
