<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#f16436" />
    <link rel="manifest" href="/manifest.json" />
    <title>@ViewData["Title"] - CFLookup / What CurseForge Project Is This?</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CFLookup.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body class="bg-dark text-white">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-secondary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index" title="CFLookup - What CurseForge Project Is This?">CFLookup</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/MinecraftModStats" asp-area="" title="CFLookup - Minecraft mod stats">Minecraft mod stats</a>
                            <a class="nav-link" asp-page="/MinecraftModpackStats" asp-area="" title="CFLookup - Minecraft modpack stats">Minecraft modpack stats</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container bg-dark">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-secondary text-white-50">
        <div class="container">
            &copy; 2022 - <a href="https://nolifeking85.tv" class="text-white" target="_blank">NoLifeKing85</a>
            <a href="https://github.com/CurseForgeCommunity/CFLookup" class="text-white" target="_blank">GitHub</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>